<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	<title>Верстка под ключ</title>
	
	<meta name="viewport" id="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	
	
	<!--styles-->
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="fonts/font.css" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700&amp;subset=cyrillic" rel="stylesheet">
	
	
	
	<!--libs-->
	
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script type="text/javascript" src="js/libs/jquery-3.2.1.min.js"></script> 
	<script type="text/javascript" src="js/libs/vue.js"></script>
	
	<!--general-->
	<script type="text/javascript" src="js/common.js"></script>
</head>

<body>
    <header>
        <div class="wrapper">
            <nav>
                <a href="" class="nav_a" data-a="footer">
                    контакты
                </a>
                <a href="" class="nav_a" data-a="portfolio">
                    работы
                </a>
            </nav>
        </div>
    </header>
    <div class="main">
        
        <section class="first">
            <div class="wrapper">


                <div class="logo">
                    <div class="logo-top">
                        <span>Jktu</span><img src="images/center_logo.png" alt="alt"> 
                    </div>
                    <div class="logo-bot">
                        Верстка под ключ
                    </div>
                    
                </div>
                <div class="stek">
                    <span>Html5/css3</span>
                    <span>Git</span>
                    <span>Scss</span>
                    <span>js</span>
                    <span>Gulp</span>
                    <span>БЭМ</span>
                    <span>Photoshop</span>
                    <span>Sketch </span>
                </div>
                <h1>Качественная <b>адаптивная</b> верстка, <b>валидный код</b>,<br>
pixel perfect</h1>
            </div>
        </section>
        <section>
             
            
            <div class="wrapper">
                <script defer>
                           window.addEventListener('load', function () {
                                const data = {
                                    margin: 0,
                                    lineTop: 25,
                                    lineLeft: 438,
                                    src: 'freshnews.zt.ua',
                                    width: 0,
                                    items: [
                                      { 
                                          id:'0',
                                          active: true,
                                          fontSize:48,
                                          adress: 'freshnews.zt.ua',
                                          name: 'freshnews.zt.ua',
                                      },
                                      { 
                                          id:'1',
                                          active: false,
                                          fontSize:48,
                                          adress: 'doglyad.com',
                                          name: 'doglyad.com',
                                      },
                                      { 
                                          id:'2',
                                          active: false,
                                          fontSize:60,
                                          adress: 'unit.ru',
                                          name: 'unit.ru ',
                                      },
                                      { 
                                          id:'3',
                                          active: false,
                                          fontSize:60,
                                          adress: 'witology.com',
                                          name: 'witology.com',
                                      },
                                        { 
                                          id:'3001',
                                          active: false,
                                          fontSize:40,
                                          adress: 'vseomuzhskom.ru',
                                          name: 'vseomuzhskom.ru',
                                      },
                                      { 
                                          id:'4',
                                          active: false,
                                          fontSize:34,
                                          adress: 'usadbadivnomorskoe.ru',
                                          name: 'usadbadivnomorskoe.ru',
                                      },
                                      { 
                                          id:'5',
                                          active: false,
                                          fontSize:48,
                                          adress: 'cigaronne.com', 
                                          name: 'cigaronne.com', 
                                      },
                                      { 
                                          id:'6',
                                          active: false,
                                          fontSize:60,
                                          adress: 'skilla3d.ru',
                                          name: 'skilla3d.ru',
                                      },
                                      { 
                                          id:'7',
                                          active: false,
                                          fontSize:36,
                                          adress: 'advokat-dyachkov.ru', 
                                          name: 'advokat-dyachkov.ru', 
                                      },
                                      { 
                                          id:'8',
                                          active: false,
                                          fontSize:60,
                                          adress: 'senso-rf.ru',
                                          name: 'senso-rf.ru',
                                      },
                                      { 
                                          id:'9',
                                          active: false,
                                          fontSize:60,
                                          adress: 'trinfico.com',
                                          name: 'trinfico.com',
                                      },
                                      { 
                                          id:'10',
                                          active: false,
                                          fontSize:60,
                                          adress: 'sirotin-k.ru',
                                          name: 'sirotin-k.ru',
                                      },
                                      { 
                                          id:'11',
                                          active: false,
                                          fontSize:48,
                                          adress: 'equiptrade24.ru',
                                          name: 'equiptrade24.ru',
                                      },
                                      { 
                                          id:'12',
                                          active: false,
                                          fontSize:36,
                                          adress: 'amsterdam-seeds.nl',
                                          name: 'amsterdam-seeds.nl',
                                      },
                                      { 
                                          id:'13',
                                          active: false,
                                          fontSize:60,
                                          adress: 'weektrade.ru',
                                          name: 'weektrade.ru',
                                      },
                                      { 
                                          id:'14',
                                          active: false,
                                          fontSize:60,
                                          adress: 'shkolakos.ru',
                                          name: 'shkolakos.ru',
                                      },
                                      { 
                                          id:'15',
                                          active: false,
                                          fontSize:60,
                                          adress: 'art-rc.ru',
                                          name: 'art-rc.ru',
                                      },
                                      { 
                                          id:'16',
                                          active: false,
                                          fontSize:30,
                                          adress: 'velles.ru', 
                                          name: 'Группа компаний «Веллес»' 
                                      },
                                      { 
                                          id:'17',
                                          active: false,
                                          fontSize:60,
                                          adress: 'de-vivre.com',
                                          name: 'de-vivre.com',
                                      },
                                      { 
                                          id:'18',
                                          active: false,
                                          fontSize:60,
                                          adress: 'kr-tv.ru', 
                                          name: 'kr-tv.ru', 
                                      },
                                      { 
                                          id:'19',
                                          active: false,
                                          fontSize:60,
                                          adress: 'util-euro.ru',
                                          name: 'util-euro.ru',
                                      },
                                      { 
                                          id:'20',
                                          active: false,
                                          fontSize:36,
                                          adress: 'neomid-ukraine.com',
                                          name: 'neomid-ukraine.com',
                                      },
                                    ]
                                  }
                                
                                new Vue({
                                  el: '.portfolio',
                                  data: data,
                                  created() {
                                    window.addEventListener('resize', this.handleResize)
                                    this.handleResize();
                                  },
                                  destroyed() {
                                    window.removeEventListener('resize', this.handleResize)
                                  },
                                  methods: {
                                    greet: function (event) {
                                        if(window.innerWidth > 960) {
                                            event.preventDefault();
                                        }
                                       
                                        
                                    },
                                      
                                    setActive(item,$event) {
                                        
//                                        if(event.target.tagName.toLowerCase() === 'a') {
//                                            this.src = 
//                                        }
                                            
                                        if(this.$refs.portfolio.getBoundingClientRect().bottom - $event.target.getBoundingClientRect().top > 270) {
                                            
                                            
                                            if(event.target.tagName.toLowerCase() === 'a') {
                                                
                                                this.margin=$event.target.querySelector('span').getBoundingClientRect().top - this.$refs.portfolio.getBoundingClientRect().top;
                                                
                                                this.lineTop=$event.target.querySelector('span').getBoundingClientRect().top - this.$refs.portfolio.getBoundingClientRect().top + $event.target.querySelector('span').offsetHeight/2;
                                                this.lineLeft=$event.target.querySelector('span').getBoundingClientRect().width ;
                                                console.log(this.margin )
                                            }else {
                                                
                                                this.margin=$event.target.getBoundingClientRect().top - this.$refs.portfolio.getBoundingClientRect().top;
                                                
                                                this.lineTop=$event.target.getBoundingClientRect().top - this.$refs.portfolio.getBoundingClientRect().top + $event.target.offsetHeight/2;
                                                this.lineLeft=$event.target.getBoundingClientRect().width + 15 ;
                                                
                                                console.log(this.margin )
                                            }

                                            
                                            
                                            
                                        }else {
                                            
                                            this.margin=this.$refs.portfolio.getBoundingClientRect().bottom - this.$refs.portfolio.getBoundingClientRect().top - 280;
                                            console.log(this.margin )
                                            if(event.target.tagName.toLowerCase() === 'a') {
                                                
                                                
                                                
                                                this.lineTop=$event.target.querySelector('span').getBoundingClientRect().top - this.$refs.portfolio.getBoundingClientRect().top + $event.target.querySelector('span').offsetHeight/2;
                                                this.lineLeft=$event.target.querySelector('span').getBoundingClientRect().width ;
                                                console.log(this.lineLeft)
                                            }else {
                                                
                                   
                                                
                                                this.lineTop=$event.target.getBoundingClientRect().top - this.$refs.portfolio.getBoundingClientRect().top + $event.target.offsetHeight/2;
                                                this.lineLeft=$event.target.getBoundingClientRect().width + 15 ;
                                                
                                                console.log(this.lineLeft )
                                            }
                                        }
                                        
                                        this.items.forEach(el => {
                                            el.active = el === item;
                                        })
                                        
                                        let blockHeight = this.$refs.portfolioimgblock.offsetHeight;
//                                        console.log(blockHeight)
                                        //console.log($('.portfolio-img_block img.active').height())
                                        setTimeout(function(){$event.target.innerHTML},100)
//                                        console.log($event.target.innerHTML)
                                    },
                                    handleResize() {
                                      this.width = window.innerWidth;
                                    }
                                  },
                                  computed: {
                                    computedWidth: function () {
                                      return this.width;
                                    }
                                  },
//                                  
                                });


                            })
                </script>

                <div class="portfolio" style="height: 1165px;" ref="portfolio">
                    
                    <div class="portfolio-list">
                        <div v-if="width > 960" class="portfolio-list_line" ref="portfoliolistline" :style="{top: lineTop + 'px',left:lineLeft + 'px' }"></div>
                        
                        <a :href="'http://'+item.adress" target="_blank"  v-bind:style="[width > 960 ?{ fontSize: item.fontSize + 'px' }:{fontSize: 16+'px'}]" :class="{'active': item.active}" @click="setActive(item,$event)"  v-on:click="greet" v-for="item in items"  v-bind:key="item.id" >
                            <span>{{ item.name }}</span>
                            <span v-if="width < 960">
                            <img style="width: 100%" :src="'images/list/'+item.adress+'.jpg'" >
                            </span>
                        </a>
                        
                        
                    </div>
                    <div class="portfolio-img" ref="portfolio" v-if="width > 960">
                        
                        <div class="portfolio-img_block" ref="portfolioimgblock"  :style="{marginTop: margin + 'px'}">
                            <div v-for="item in items">
                                <img :class="{'active': item.active}" @click="setActive(item)" :data-item="item.adress"  v-on:click="greet"  v-bind:key="item.id" :src="'images/list/'+item.adress+'.jpg'" >
                                <a :href="'http://'+item.adress" target="_blank" class="portfolio-img-a">{{item.adress}}</a>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                
            </div>
        </section>
        <section>
            <div class="wrapper">
                <div class="info">
                    <div>
                        
                    </div>
                    <div>
                        <p>
                            Добрый день, меня зовут Олег (когда то забыл переключить расскладку и набрал свое имя как Jktu, с тех давних пор и повелось)<br><br><br>
                            Верстаю с 2010 года. В основном фриланс, но так же и нанимали крупные компании. 
                            <br><br>
                            Верстаю быстро и качественно (часто заказчику нужно было сделать вчера). Отличное знание html/css, средние знания JS (имею практику vue и немного react, писал пару плагинчиков под Jquery, когда готовые решения не могли обеспечить полный функционал)
                            <br><br>
                            Быстро разбираюсь в чужом коде. Очень много работ по добавлению адаптива на уже запущенные проекты. 
                            <br><br>
                            Cвободно работаю с Adobe Photoshop,Illustrator, Sketch
                            <br><br>
                            Понимание работы интерактивных сайтов и методов их построения, Отличное понимание UI/UX
                            <br><br>
                            А еще у меня есть <a href="https://docs.google.com/document/d/1BSsNMnie_iQu0G0-7IWRmw2r_Ldu0ook_pEJJhl674Q/edit?usp=sharing" target="_blank">резюме</a>. Прикольное, да? Сам придумал оформление.. верстальщик все таки)  
                            
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="footer">
        <a href="">+38 073 739 71 09</a>
        <a href="mailto:darthjktu@gmail.com">darthjktu@gmail.com</a>
    </footer>
    
    
</body>
</html>